# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db
*.ipch
.vs/YoutubeOpenGL/v15/.suo
*.pdb
*.ilk
*.sln
YoutubeOpenGL/Debug/YoutubeOpenGL.tlog/CL.read.1.tlog
YoutubeOpenGL/Debug/YoutubeOpenGL.tlog/CL.write.1.tlog
YoutubeOpenGL/Debug/YoutubeOpenGL.tlog/link.command.1.tlog
YoutubeOpenGL/Debug/YoutubeOpenGL.tlog/link.read.1.tlog
YoutubeOpenGL/Debug/YoutubeOpenGL.tlog/link.write.1.tlog
YoutubeOpenGL/Debug/YoutubeOpenGL.tlog/YoutubeOpenGL.lastbuildstate
YoutubeOpenGL/YoutubeOpenGL.vcxproj
YoutubeOpenGL/YoutubeOpenGL.vcxproj.filters
YoutubeOpenGL/x64/Debug/YoutubeOpenGL.tlog/CL.command.1.tlog
YoutubeOpenGL/x64/Debug/YoutubeOpenGL.tlog/CL.read.1.tlog
YoutubeOpenGL/x64/Debug/YoutubeOpenGL.tlog/CL.write.1.tlog
YoutubeOpenGL/x64/Debug/YoutubeOpenGL.tlog/link-cvtres.read.1.tlog
YoutubeOpenGL/x64/Debug/YoutubeOpenGL.tlog/link-cvtres.write.1.tlog
YoutubeOpenGL/x64/Debug/YoutubeOpenGL.tlog/link-rc.read.1.tlog
YoutubeOpenGL/x64/Debug/YoutubeOpenGL.tlog/link-rc.write.1.tlog
YoutubeOpenGL/x64/Debug/YoutubeOpenGL.tlog/link.19700-cvtres.read.1.tlog
YoutubeOpenGL/x64/Debug/YoutubeOpenGL.tlog/link.19700-cvtres.write.1.tlog
YoutubeOpenGL/x64/Debug/YoutubeOpenGL.tlog/link.19700-rc.read.1.tlog
YoutubeOpenGL/x64/Debug/YoutubeOpenGL.tlog/link.19700-rc.write.1.tlog
YoutubeOpenGL/x64/Debug/YoutubeOpenGL.tlog/link.19700.read.1.tlog
YoutubeOpenGL/x64/Debug/YoutubeOpenGL.tlog/link.19700.write.1.tlog
YoutubeOpenGL/x64/Debug/YoutubeOpenGL.tlog/link.command.1.tlog
YoutubeOpenGL/x64/Debug/YoutubeOpenGL.tlog/link.read.1.tlog
YoutubeOpenGL/x64/Debug/YoutubeOpenGL.tlog/link.write.1.tlog
YoutubeOpenGL/x64/Debug/YoutubeOpenGL.tlog/unsuccessfulbuild
YoutubeOpenGL/x64/Debug/YoutubeOpenGL.tlog/YoutubeOpenGL.lastbuildstate
